<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ProductDBContext" connectionString="Server=localhost\SQLEXPRESS;Database=ProductPricer;Trusted_Connection=True;TrustServerCertificate=True;" />
  </connectionStrings>
  <appSettings>
    <add key="OpenExchangeAppId" value="[APP_ID_HERE]"/>
  </appSettings>
</configuration>